.table-container {
  width: 100%;
}

table {
  width: 100%;

  border-collapse: collapse;
  margin: -764px auto;
  background-color: rgba(0, 0, 30, 0.6);
  color: #ccc;
  border-radius: 10px;
}
@media (max-width: 600px) {
  table,
  th,
  td {
    font-size: 12px; /* 较小的字体大小 */
    padding: 5px; /* 较小的内边距 */
  }
}

th,
td {
  border: 2px solid #555;
  border-radius: 10px;
  margin: 10px 0;
}

th {
  font-size: 24px;
  padding: 20px;
  text-align: center;
}

tr {
  margin-bottom: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

td {
  display: block;
  max-width: 1800px;
  max-height: 200px;
  overflow-x: auto;
  overflow-y: scroll; /* 修改为scroll */
  white-space: wrap;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid #555;
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

td img {
  margin: 10px;
  border: 2px solid #555;
  border-radius: 5px;
  transition: transform 0.3s, box-shadow 0.3s;
  max-width: 100px;
  height: 100px; /* 让高度自适应，以保持图片比例 */
  display: inline-block;
}

td img:hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 0 0 20px #fff;
}
